body {
  --left-width: 20%;
  --right-width: 20%;
  text-align: left;
  display: grid;
  grid-template-columns: var(--left-width) calc(100% - var(--left-width) - var(--right-width)) var(--right-width);
  border-collapse: collapse;
}

body.fileTree-closed {
  --left-width: 0%;
}

body.git-closed {
  --right-width: 0%;
}

.--hidden {
  display: none!important;
}

.--float-left {
  float: left;
}

.--float-right {
  float: right;
}

#editor, #fileTree, #git {
  height: 100%;
  max-height: calc(100vh - 1.5em);
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
  z-index: 2;
}

#fileTree.closed, #git.closed {
  width: 0;
  height: 0;
  overflow: hidden;
}

/* Editor */

#editor {
  z-index: 3;
  grid-column: 2;
}

#editor textarea {
  opacity: 0;
}

#editor__stats {
  text-align: right;
  background-color: inherit;
  height: 2em;
  line-height: 2em;
  z-index: 2;
  background-color: var(--background-color);
}

.EasyMDEContainer {
  height: calc(100% - 2em);
  overflow-y: auto;
  position: relative;
}

.CodeMirror {
  position: absolute;
  top: 41px;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Files */
#fileTree {
  padding-bottom: 1.5em;
  grid-column: 1;
  overflow-y: hidden;
}

#fileTree__actions {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0.4em 0.7em 0.2em 0.7em;
  background-color: var(--background-color);
  z-index: 2;
  border-bottom: 1px solid var(--border-color);
  color: var(--color);
  height: 42px;
}

#fileTree__list {
  max-height: calc(100vh - 42px - 1.5em);
  overflow: auto;
  padding-bottom: 2em;
}

#fileTree .file, #fileTree .folder {
  font-size: 1.2rem;
  padding: 0 0.5em;
  height: 1.75em;
  line-height: 1.75em;
  cursor: default;
  user-select: none;
}

#fileTree__list .file {
  display: block;
  position: relative;
}

#fileTree__list .filename {
  display: inline-block;
  width: calc(100% - 1.3em);
}

#fileTree__list .filename, #fileTree__list .folder {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#fileTree__list .label {
  position: absolute;
  right: 0.25em;
  top: 50%;
  width: 1em;
  height: 1em;
  border: 1px solid;
  border-radius: 100%;
  transform: translateY(-50%);
  cursor: pointer;
}

[data-label] {
  --alpha: 1;
  background-color: hsla(var(--hue), var(--saturation), var(--lightness), var(--alpha));
}

#fileTree__list:not(.searching) .active {
  background-color: var(--background-color);
  color: var(--color);
}

#fileTree #fileTree__list .file.editing .filename,
#fileTree #fileTree__list summary[contenteditable="true"] {
  text-overflow: initial;
  background-color: var(--background-color);
  color: var(--color);
  outline: 3px solid var(--border-color);
  user-select: text;
  cursor: initial;
  padding: 0;
}

#fileTree #fileTree__list summary[contenteditable="true"] {
  list-style: none;
}

.filename {
  outline: 0;
}

#fileTree details > span, #fileTree details > details {
  margin-left: 1.5em;
}

#fileTree__actions > div {
  display: inline-block;
}

#fileTree__actions .left {
  float: left;
}

#fileTree__actions .right {
  float: right;
}

#fileTree__search {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
}

#fileTree__search.hidden {
  display: none;
}

#fileTree__list.searching span:not(.result), #fileTree__list.searching details summary:not(.result) {
  color: var(--color);
}

#fileTree .folder:focus, #fileTree .file:not(.active):focus {
  background-color: silver;
  color: #000;
}

/* Git */
#git {
  overflow-x: hidden;
  overflow-y: visible;
  grid-column: 3;
}

#git.disabled #git__main, #git:not(.disabled) #git__disabled {
  display: none;
}

#git h3, #git p {
  padding: 0 0.5em;
  text-align: center;
}

#git h3 {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0.3em 0 0.2em 0;
  background-color: var(--background-color);
  z-index: 2;
  border-bottom: 1px solid var(--border-color);
  color: var(--color);
}

#git .sticky-bottom {
  position: sticky;
  bottom: 0;
  padding-bottom: 0.2em;
}

#git__commitText, #git input[type="submit"] {
  background-color: var(--background-color);
  border-width: 1px;
  margin: 0;
}

textarea {
  text-align: left;
}

#git .help {
  color: var(--color);
  margin-top: 0.5em;
}

#git__commits {
  border-bottom: 1px solid var(--border-color);
}

#git__commits > span {
  font-size: 1.2rem;
  padding: 0.25em 0.5em;
  display: block;
  border-top: 1px solid var(--border-color);
  position: relative;
    background-color: var(--background-color);
  color: var(--color);
}

#git__commitText {
  border: 1px solid var(--border-color);
}

[data-readonly='true'] #git__addCommit, [data-readonly='true'] #git__commits, .git__checkedOut {
  display: none;
}

[data-readonly='true'] .git__checkedOut {
  display: block;
}

[data-readonly='true'] #git__commits > span .preview {
  display: none!important;
}

[data-readonly='true'] #editor .editor-toolbar {
  display: none;
}

[data-readonly='true'] #editor .CodeMirror {
  top: 0;
}

#git__commits > span .preview {
  color: var(--color);
  display: none;
  text-align: center;
  right: 0.5em;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 0.75em;
  padding: 0.25em;
  border-radius: 0.5em;
  border: 1px solid var(--color);
  background-color: var(--background-color);
  cursor: pointer;
}

#git__commits > span:hover .preview {
  display: inline;
}

/* Context Menu */
.contextMenu {
  font-size: 1.2rem;
  border: 1px solid var(--border-color);
  width: 150px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--background-color);
  --color: inherit;
  color: var(--color);
  display: none;
}

.contextMenu span {
  width: inherit;
  display: block;
  cursor: default;
  padding: 0.25em;
  color: #000!important;
}

.contextMenu span:not(.--no-click, [data-label]):hover,
.contextMenu span:not(.--no-click, [data-label]):focus {
  outline: 0;
  background-color: var(--item-hover-color);
}

.contextMenu.visible, .dropdown .contextMenu {
  display: block;
}

.dropdown {
  z-index: 3;
}

.dropdown .contextMenu {
  top: 50%;
  left: 50%;
  transform: translateX(-100%);
  z-index: 3;
  position: absolute;
}

.dropdown .contextMenu span {
  z-index: 3;
}

#contextMenu #deleteButton, #contextMenu #renameButton {
  display: none;
}

.contextMenu hr {
  margin: 0;
}

.contextMenu [data-label] {
  --alpha: 0.3;
}

.contextMenu [data-label]:hover,
.contextMenu [data-label]:focus {
  --alpha: 0.5;
}

/* Loading */

#loading, #locked, #projectDeletedError {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  z-index: 1000;
}

#loading p, #locked div, #projectDeletedError div {
  margin: 0;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

#loading p::after {
  content: '...';
  animation: dots 1.5s infinite;
  width: 0;
  display: inline-block;
}

#locked, #projectDeletedError {
  display: none;
}

#locked div, #projectDeletedError div {
  font-size: 1em;
}

#locked h2, #projectDeletedError h2 {
  text-align: center;
}

body.locked #locked, #projectDeletedError.visible {
  display: block;
}

@keyframes dots {
  0% {
    content: '...';
  }
  25% {
    content: ''
  }
  50% {
    content: '.'
  }
  75% {
    content: '..'
  }
}

/* Novel Stats */
#novelStats {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  line-height: 1.5em;
  background-color: var(--background-color);
  color: var(--color);
  z-index: 1;
}

#novelStats > div {
  width: 50%;
  font-size: 0.8em;
}

#novelStats > .--float-left {
  float: left;
  border-right: 1px solid;
}

#novelStats > .--float-right {
  float: right;
  text-align: right;
}

#novelStats > div > span {
  margin: 0 0.4em;
  display: inline;
}

/* Novel Stats Buttons */
#novelStats label {
  background-color: var(--background-color);
  color: var(--color);
  display: inline;
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 1.875em;
  width: 1.875em;
  padding: 0.31em 0.5em;
}

#wordSprint {
  padding: 0.31em 1em!important;
}

#wordSprint i {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1.875em;
  transform: translate(-50%, -50%);
}

#novelStats input:checked + label, #novelStats input:checked + label:hover {
  background-color: var(--color);
  color: var(--background-color);
}

.novelStats__modal {
  --right: 0;
  display: none;
  position: fixed;
  bottom: 1.5em;
  right: var(--right);
  width: 95%;
  height: auto;
  max-width: 400px;
  max-height: min(50ch, calc(100vh - 1.5em));
  overflow: auto;
  background-color: var(--background-color);
  color: var(--color);
  padding: 1em;
  z-index: 5;
  text-align: center;
  border-top: 3px solid;
  border-left: 3px solid;
}

.novelStats__modal.visible {
  display: block;
}

.novelStats__modal h2 {
  margin: 0.25em;
  max-width: 12em;
  width: 95vw;
  font-size: 1.3em;
}

/* Stats */
#stats i {
  margin-right: -0.25em; /* Correcting for icon width */
}

/* Word Sprints */
#wordSprint__popup .running,
#wordSprint__popup .running,
#wordSprint__popup .finished,
#wordSprint__popup .set,
#wordSprint__popup[data-mode='finished'] #wordSprint__timeLeft {
  display: none;
}

#wordSprint__popup[data-mode='running'] .running,
#wordSprint__popup[data-mode='finished'] .running,
#wordSprint__popup[data-mode='finished'] .finished,
#wordSprint__popup[data-mode='set'] .set {
  display: block;
}

/* Word Goals */

#wordGoal.flash:not(:hover) {
  --fill: transparent;
  background-color: var(--fill);
  animation: flash-background 1500ms infinite;
  transition: color 0;
}

@keyframes flash-background {
  from {
    --fill: transparent;
  }
  to {
    --fill: var(--flash-background);
    color: var(--flash-color);
  }
}

#wordGoal__list > div,
#wordGoal__archived > div {
  padding: 0.5em;
  border: 0.1em solid var(--border-color);
  position: relative;
}

#wordGoal__list > div,
#wordGoal__archived > div,
#wordGoal:not(.flash) {
    background-image: linear-gradient(to right, var(--fill) var(--percent), transparent 0);
}

#wordGoal__list > div.completed,
#wordGoal__archived > div.completed {
  background: var(--background-color);
  color: var(--color);
}

#wordGoal__list > div .archive {
  color: var(--color);
  display: none;
  background-color: var(--background-color);
  border: 2px solid;
  border-radius: 0.5em;
  padding: 0.2em 0.25em;
  transition: color 0.2s, background-color 0.2;
  cursor: pointer;
  position: absolute;
  right: 0.25em;
  top: 50%;
  transform: translateY(-50%);
}

#wordGoal__list > div:hover .archive {
  display: inline-block;
}

#wordGoal__list > div .archive:hover {
  color: var(--background-color);
  background-color: var(--color);
}

/* Pie charts */
#wordSprint__checkbox:checked ~ #wordSprint.pie-chart {
  --empty: var(--background-color);
  --fill: var(--color);
}

#wordSprint.pie-chart {
  --fill: var(--background-color);
  --empty: var(--color);
  --percent: 0;
  padding: 0.5em 1em;
  position: relative
}

.pie-chart .pie {
  background-color: var(--empty);
  background-image: linear-gradient(to right, transparent 50%, var(--fill) 0);
  display: inline-block;
  --size: 1.25em;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.pie-chart .pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(calc(min(var(--percent), 0.5) * 360deg));
}

.pie-chart.more .pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: var(--fill);
  transform-origin: left;
  transform: rotate(calc(max(var(--percent), 0.5) * 360deg - 180deg));
}

/* Tabs */
.focusMode .tab {
  display: none;
}

.tab {
  position: absolute;
  top: 50%;
  font-size: 0.8em;
  --width: 2em;
  width: var(--width);
  z-index: 4;
  background-color: var(--background-color);
  color: var(--color);
  padding: 0.75em 0;
  text-align: center;
  cursor: pointer;
  transform: scale(0, 0);
  transition: transform 400ms;
}

#fileTree__tab:hover, #fileTree:hover ~ #fileTree__tab,
#git__tab:hover, #git:hover ~ #git__tab,
.tab.show {
  transform: scale(1, 1);
}

.tab.left {
  left: var(--left-width);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  transform-origin: left;
}

.tab.right {
  right: var(--right-width);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  transform-origin: right;
}

.tab.left[data-mode="close"]::after, .tab.right[data-mode="open"]::after {
  content: '<';
}

.tab.left[data-mode="open"]::after, .tab.right[data-mode="close"]::after {
  content: '>';
}


/* Editor Styles */
.cm-comment {
  font-family: monospace;
}

.cm-tab {
  background-color: #ff04;
}

.editor-toolbar {
  padding: 5px;
}

.editor-toolbar, .editor-toolbar.fullscreen {
  text-align: center;
  border: 0;
  border-radius: 0;
  background-color: var(--background-color);
}

.EasyMDEContainer .CodeMirror {
  border-color: var(--border-color);
  color: var(--color);
  background-color: var(--background-color);
}

/*.CodeMirror-code {
  max-width: 58ch;
  display: inline-block;
}

.CodeMirror-lines {
  text-align: center;
}*/

.CodeMirror-cursor {
  border-color: var(--color);
}

.CodeMirror-selected {
  background: var(--selected-background)!important;
}

.CodeMirror-selectedtext {
  color: var(--selected-color);
}

.editor-toolbar button {
  color: var(--color);
}

.editor-toolbar button.active {
  background-color: var(--button-hover-color);
}


/* Custom scrollbar */
#fileTree__list::-webkit-scrollbar, #git::-webkit-scrollbar {
  width: 0.4em;
  border: 1px solid var(--scrollbar-background);
}

#fileTree__list::-webkit-scrollbar-track, #git::-webkit-scrollbar-track {
  box-shadow: unset;
  background-color: var(--scrollbar-background);
}

#fileTree__list::-webkit-scrollbar-thumb, #git::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  outline: 0;
  border-radius: 100em;
}
