body, body * {
  box-sizing: border-box;
}

body, html {
  text-align: center;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  margin: 0;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
}

header {
  background-color: var(--background-color);
  padding: 1em;
}

article {
  text-align: center;
}

article div {
  text-align: left;
  display: inline-block;
  max-width: 95vw;
  width: 700px;
}

details {
  text-align: left;
}

summary {
  cursor: pointer;
}

a.fa {
  text-decoration: none;
}

a {
  color: inherit;
}

code {
  background-color: var(--background-color);
  color: var(--color);
  padding: 0 0.15em;
  border-radius: 0.15em;
}

/* Forms */
form {
  text-align: left;
  display: inline-block;
  width: 100%;
  max-width: 700px;
}

input, textarea, label, select {
  color: var(--color);
  background-color: transparent;
  margin: 0.5em 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 2px solid;
}

input::placeholder, textarea::placeholder {
  color: var(--light-color);
}

label {
  font-weight: bold;
  padding: initial;
  border: 0;
}

input:not([type="color"]), textarea, select {
  padding: 1em;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
}

input[type="submit"] {
  cursor: pointer;
  background-color: var(--background-color);
}

input[type="color"] {
  display: block;
  height: 3em;
  padding: 0.25em;
  cursor: pointer;
}

label.canChange:focus-within::after {
  content: 'You can change this later.';
  font-size: 0.8rem;
  font-style: italic;
  font-weight: normal;
}

.success, .failure {
  background-color: var(--background-color);
  padding: 1em;
  color: var(--color);
}

/* Modals */
#modals {
  position: absolute;
}

.modal {
  width: 95vw;
  max-width: 600px;
  max-height: 75vh;
  overflow: auto;
  position: fixed;
  background-color: var(--background-color);
  color: var(--color);
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 1em;
  border-radius: 0.5em;
  display: none;
}

.modal.visible {
  display: block;
}

.modal h3 {
  text-align: center;
}

.modal a.button {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.5em;
  border: 2px solid;
  margin: 0.15em 0;
}
