/* Footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.5em;
  border-top: 2px solid var(--color);
}

footer a {
  color: inherit;
}

.codewithlove a {
  text-decoration: none;
  font-weight: bold;
  color: salmon;
  transition: text-shadow 0.2s;
}

.codewithlove a:hover {
  text-shadow: 0 0 0.6em;
}

/* Grid */
#content {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

#content > div {
  max-height: calc(100vh - 15.7em);
  overflow: auto;
  padding: 0 0.75em;
}

#content > div > h2 {
  margin: 0;
  padding: 0.83em 0;
  position: sticky;
  top: 0;
  background-color: var(--background-color)
}

/* Projects */
#manageProjects input[type="submit"] {
  max-width: 500px;
  display: inline-block;
}

#manageProjects h3 {
}

#projects__recent {
  font-size: 1rem;
}

.recentProject {
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
  border: 0 solid #000;
  border-width: 1px 0;
}

.recentProject:hover {
  background-color: #ccc4;
}

/* Releases */
#releases {
  margin: 0;
}

#releases__list > div {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: 0.5em 0.75em;
  margin: 0;
  border-top: 1px solid;
}

#releases__list > .current {
  background-color: #ff04;
}

/* News */
#news > p {
  max-width: 300px;
  display: inline-block;
  margin-top: 0;
}
