body {
  text-align: left;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

a {
  color: inherit;
}

#editor, #fileTree, #git {
  max-height: 100vh;
  overflow: auto;
  border-right: 1px solid #ccc;
}

/* Editor */

#editor textarea {
  opacity: 0;
}

#editor__stats {
  text-align: right;
  background-color: inherit;
  height: 2em;
  line-height: 2em;
  z-index: 2;
  background-color: var(--background-color);
}

#editor .CodeMirror {
  height: calc(100% - 50px - 2em);
}

/* Files */
#fileTree {
  padding-bottom: 1.5em;
}

#fileTree span, #fileTree details summary, #fileTree button {
  padding: 0 0.5em;
  height: 1.75em;
  line-height: 1.75em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  user-select: none;
}

#fileTree__list span {
  display: block;
}

#fileTree__list:not(.searching) .active {
  background-color: #2D99F7;
  color: #fff;
}

#fileTree #fileTree__list span[contenteditable], #fileTree #fileTree__list details summary[contenteditable] {
  text-overflow: inherit;
  background-color: #fff;
  color: #000;
  outline: 3px solid orange;
  user-select: text;
  cursor: initial;
  padding: 0;
}

#fileTree details span, #fileTree details details {
  margin-left: 1.5em;
}

#fileTree__actions {
  height: 2em;
  padding: 0.5em;
}

#fileTree__actions > div{
  display: inline-block;
}

#fileTree__actions .left {
  float: left;
}

#fileTree__actions .right {
  float: right;
}

#fileTree__search {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
}

#fileTree__search.hidden {
  display: none;
}

#fileTree__list.searching span:not(.result), #fileTree__list.searching details summary:not(.result) {
  color: #bbb;
}

/* Git */

#git h3, #git p {
  padding: 0 0.5em;
  text-align: center;
}

#git h3 {
  margin-bottom: 0.25em;
}

#git__commitText, #git button {
  display: block;
  padding: 0.5em;
  min-width: 100%;
  max-width: 100%;
}

textarea {
  text-align: left;
}

#git p:last-of-type {
  color: gray;
  margin-top: 0.5em;
}

#git__commits span {
  padding: 0.25em 0.4em;
  display: block;
  border-top: 1px solid #777;
}

#git__commits span:hover {
  background-color: #ccc5;
}

/* Context Menu */
#contextMenu, #spellcheckMenu {
  border: 1px solid #aaa;
  width: 200px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  display: none;
}

#contextMenu span, #spellcheckMenu span {
  display: block;
  cursor: default;
  padding: 0.5em;
}

#contextMenu span:hover, #spellcheckMenu span:hover {
  display: block;
  cursor: default;
  background-color: #ccc;
  padding: 0.5em;
}

#contextMenu.visible, #spellcheckMenu.visible {
  display: block;
}

#contextMenu #deleteButton, #contextMenu #renameButton {
  display: none;
}


/* Loading */

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  z-index: 1000;
}

#loading p {
  margin: 0;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

#loading p::after {
  content: '...';
  animation: dots 1.5s infinite;
  width: 0;
  display: inline-block;
}

@keyframes dots {
  0% {
    content: '...';
  }
  25% {
    content: ''
  }
  50% {
    content: '.'
  }
  75% {
    content: '..'
  }
}
